<div class="main">
  <nav>
    <div class="mainDashboard">
      <mat-icon routerLinkActive="active-link">space_dashboard</mat-icon>
    </div>
    <hr />
    <div class="middleIcons">
      <mat-icon routerLink="/chat">question_answer</mat-icon>
      <mat-icon>account_circle</mat-icon>
      <mat-icon>dashboard</mat-icon>
    </div>
    <div class="footer">
      <mat-icon>settings</mat-icon>
      <mat-icon>account_box</mat-icon>
    </div>
  </nav>

  <div class="title_details">
    <div>
      <div class="logo">
        <div>Ai</div>
        <h2>Instinct AI</h2>
      </div>
    </div>

    <div class="write_up">
      <span>
        Ai engine to analyze chat conversations, detecting user intent,
        answering queries automatically and handling off-traget conversations.
      </span>

      <select class="selectNumber">
        <option value="number">+91 9999999999</option>
      </select>
    </div>
    <div class="icons">
      <mat-icon>circle_notifications</mat-icon>
      <mat-icon (click)="logout()">logout</mat-icon>
    </div>
  </div>

  <div class="introduction">
    <h2>Hello! welcome to AI instints.</h2>
    <h4>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
      laboriosam porro exercitationem, omnis necessitatibus molestiae cumque ex
      eum vero voluptatem!
      <br />
      <br />
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum suscipit
      porro, fuga facilis consequuntur animi! Neque placeat debitis consectetur
      expedita, adipisci facilis, fugiat quasi maiores, voluptatem nisi
      corporis. Facilis nulla voluptas nostrum ad nisi deleniti aliquid, esse
      ea? Tenetur quidem harum non voluptatem maiores, ea vel possimus laborum
      laudantium reiciendis pariatur voluptatibus dolorum ipsam, tempore
      eligendi minus dolorem sed consectetur dolore? Nesciunt doloremque vel
      eligendi veritatis! Alias ducimus doloremque consectetur quas hic odit a
      odio repudiandae accusantium maxime. Doloremque, iusto?
    </h4>
  </div>
</div>
